<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAUqRx8gVtxLEMQ5BNvG4tKV5L8xZP_Is</string>
	<key>GCM_SENDER_ID</key>
	<string>138271755735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireWarningApp</string>
	<key>PROJECT_ID</key>
	<string>fire-warning-system-2d9c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-warning-system-2d9c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138271755735:ios:4f328cbab0aee6982e8f92</string>
</dict>
</plist>